[submodule "Lab 01/AER-E-344-Pre-Lab-01"]
	path = Lab-01/AER-E-344-Pre-Lab-01
	url = git@github.com:mcmehrtens/AER-E-344-Pre-Lab-01.git
[submodule "Lab 02/AER-E-344-Pre-Lab-02"]
	path = Lab-02/AER-E-344-Pre-Lab-02
	url = git@github.com:mcmehrtens/AER-E-344-Pre-Lab-02.git
[submodule "Lab 02/AER-E-344-Lab-02"]
	path = Lab-02/AER-E-344-Lab-02
	url = git@github.com:mcmehrtens/AER-E-344-Lab-02.git
[submodule "Lab-03/AER-E-344-Pre-Lab-03"]
	path = Lab-03/AER-E-344-Pre-Lab-03
	url = git@github.com:mcmehrtens/AER-E-344-Pre-Lab-03.git
[submodule "Lab-03/AER-E-344-Lab-03"]
	path = Lab-03/AER-E-344-Lab-03
	url = git@github.com:mcmehrtens/AER-E-344-Lab-03.git
[submodule "Lab-04/AER-E-344-Pre-Lab-04"]
	path = Lab-04/AER-E-344-Pre-Lab-04
	url = git@github.com:mcmehrtens/AER-E-344-Pre-Lab-04.git
[submodule "Lab-05/AER-E-344-Pre-Lab-05"]
	path = Lab-05/AER-E-344-Pre-Lab-05
	url = git@github.com:mcmehrtens/AER-E-344-Pre-Lab-05.git
[submodule "Lab-05/AER-E-344-Lab-05"]
	path = Lab-05/AER-E-344-Lab-05
	url = git@github.com:mcmehrtens/AER-E-344-Lab-05.git
[submodule "lab4-report"]
	path = Lab-04/AER-E-344-Lab-04
	url = git@github.com:AER-E-344-S3-G3/AER-E-344-Lab-04.git
